@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --b1: #ffff;
    --b2: #f0f2f5;
    --laranja: #ff6100;
    --laranja2: #f39200;
    --preto: #0c0c0c;
    --cinza: #ccc;
    font-size: 16px;
}

.navbar,
.subnavbar{
    border-bottom: 2px solid var(--cinza);
}

.navbar-inner {
    padding-left: 0 2%;
}

.navbar-inner,
.subnavbar {
    background-color: var(--b1);
}

.menu-logo-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu-logo-top i {
    color: var(--preto);
    font-size: 30px;
}

.logo {
    border-radius: 50%;
    width:  45px;
    height: 45px;
    max-width:50px;
    max-height: 50px;
}


.popover-close {
    padding: 5%;
    color: var(--preto);
}

.challenge {
    width: 90%;
    font-weight: 500;
    background: var(--laranja);
    color: var(--b1);
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}


::-webkit-scrollbar {
    width: 0;
}

.myappfooter {
    width: 100%;
    background-color: var(--b2);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    margin-top: 30px;
}

.myappfooter .myapp-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myappfooter-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.myappfooter-left,
.myappfooter-right {
    display: flex;
    gap: 15px;
}

.myappfooter-left a,
.myappfooter-right a {
    color: var(--preto);
    text-decoration: none;
    transition: color 0.3s ease;
}

.myappfooter-left a:hover,
.myappfooter-right a:hover {
    color: #aaa;
}

.myappfooter-right i {
    font-size: 22px;
    vertical-align: middle;
}

.myappfooter-copyright {
    border-top: 1px solid #444;
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
    color: var(--preto);
    opacity: 80%;
}

.myappfooter a {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .myappfooter-links {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .myappfooter-left,
    .myappfooter-right {
        flex-direction: column;
        align-items: center;
    }
}


.subnavbar-title {
    font-size: 22px;
    font-weight: 800;
    margin-left: 5%;
}

.first-banner {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
}

.first-banner:not(:first-child) img {
    border-radius: 5%;
}

.title-top-fbanner {
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: var(--b1);
}

.title-top-fbanner h2 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 30%;
    background-color: var(--preto);
    border-radius: 5%;
}

.swiper {
    width: 100%;
    height: auto;
    max-height: 450px;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    border: 1px solid var(--cinza);
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 90%;
    max-height: 350px;
}

.swiper-slide>i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--laranja);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--b1);
}

.swiper-slide h3 {
    font-weight: 500;
    font-size: clamp(1rem, 1.5rem, 1.8rem);
}

.swiper-slide span {
    font-size: clamp(0.4rem, 0.6rem, 0.8rem);
    font-weight: 600;
}


.swiper-slide button {
    background: var(--laranja);
    color: var(--b1);
    border-radius: 1rem;
    transition: background .6s ease-in-out;
}

.swiper-slide button:hover {
    background: var(--preto);
}


/* sessão para banners  */

.myapp-banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 2rem;
    margin-top: 50px;
}

.myapp-banner__section {
    flex: 1;
    min-width: 300px;
    border-radius: 5px;
}

.myapp-global_agency {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.myapp-global_agency i {
    font-size: 35px;
    width: 35px;
    margin-right: 10px;
}

.myapp-header_text {
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-bottom: 10px;
    flex-wrap: nowrap;
    font-weight: 600;
}

.myapp-header_text>span {
    font-size: clamp(2rem, 3.1vw, 3.2rem);
    color: var(--laranja);
    font-weight: 600;
}

.myapp-left p {
    font-size: 15px;
}

.myapp-left h3 {
    width: 80%;
    font-weight: 400;
}

.myapp-links-button {
    display: flex;
    flex: 1;
    align-items: center;
}

.myapp-link-button {
    display: flex;
    justify-content: space-between;
    background-color: var(--laranja);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.myapp-link-button.b {
    width: 150px;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--laranja);
    color: var(--preto);
    margin-left: 10px;
}

.myapp-link-button:last-child:hover {
    color: var(--laranja);
    background-color: transparent;
}

.myapp-link-button:hover {
    background-color: var(--laranja2);
}

.myapp-services {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--preto);
    border-radius: 20px;
    padding: 20px;
    overflow-y: hidden;
    animation: forwards;
}

.myapp-services_tittle {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.myapp-service__list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.myapp-list__item {
    display: flex;
    align-items: center;
    background: #333;
    width: 97.5%;
    min-height: 55px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.myapp-list__item:last-child {
    margin-bottom: 0;
}

.myapp-list__item i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--preto);
}

.myapp-list__item__btn p {
    font-size: 14px;
}

.myapp-list__item:hover {
    background-color: var(--laranja);
}

.myapp-service__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    display: flex;
    flex-direction: column;
    max-width: 100%; 
}

.myapp-service__name h4, .myapp-service__name p {
    /* Evita que os textos se expandam para fora do contêiner */
    margin: 0;
    padding: 0;
    max-width: 100%;
    white-space: normal; /* Permite a quebra de linha, se necessário */
}

.myapp-service__name h4 {
    color: white;
    font-size: 0.8rem;
    line-height: 0.8rem;
    text-transform: uppercase;
}

.myapp-service__name p {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    line-height: normal;
}

.myapp-projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.myapp-projects__status {
    flex: 1;
    background-color: #f1f1f1;
    border-radius: 20px;
    position: relative;
}

.myapp-projects__status__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.myapp-projects__status__text span {
    font-size: 3rem;
    font-weight: 600;
}

.myapp-projects__status__text p {
    text-align: center;
    font-weight: 600;
}

.myapp-projects__status img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (min-width: 430px) {
    .myapp-banner {
        flex-direction: row;
    }

    .myapp-banner-right {
        display: flex;
        flex-direction: row;
    }

    .myapp-services {
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .myapp-projects {
        flex: 1;
        flex-wrap: wrap;
        padding: 8px;
        margin: 10px;
        width: 100%;
        height: 98%;
    }

    .myapp-projects__status img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.myapp-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    margin: 0;
    position: relative;
    top: -20px;
    width: calc(100% -40px);
    margin-top: 5rem;
}

.myapp-colum {
    margin: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.myapp-company {
    flex: 1;
    margin: 0;
    margin-left: 30px;
    margin-top: 30px;
}

.myapp-company h3 {
    font-size: clamp(1rem, 1.5rem, 2rem);
}

.myapp-company__logo {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex: 1;
}

.myapp-company__logo i {
    width: 30px;
    font-size: 50px;
}

@media (min-width: 438px) {
    .myapp-company__logo i {
        font-size: clamp(50px, 10%, 400px);
        height: auto;
    }

    .myapp-company h2,
    p {
        max-width: 500px;
    }
}

/* Why us section */
.myapp-why_us_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    margin: 30px 0;
    padding: 0 20px;
}

.myapp-why_us_colum {
    padding: 20px;
    box-sizing: border-box;
    margin: 50px 0;
}

.myapp-why_us_left {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.myapp-why_us_left img {
    max-width: 80%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.myapp-why_us_right {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.myapp-why_us_right a {
    display: flex;
    justify-content: center;
    background-color: var(--laranja);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    margin-top: 20px;
}

.myapp-why_us_right a:hover {
    background-color: var(--laranja2);
}

@media (max-width: 768px) {
    .myapp-banner {
        flex-direction: column; /* Colocar banner em coluna */
    }

    .myapp-team__member__row {
        flex-direction: column; /* Colocar membros da equipe em coluna */
    }
}

@media (min-width: 768px) {
    .myapp-why_us_section {
        flex-direction: row;
        justify-content: space-around;
    }

    .myapp-why_us_colum {
        flex: 1;
    }

    .myapp-why_us_right h2 {
        font-size: 2rem;
    }

    .myapp-why_us_right {
        margin-left: 20px;
    }
}

.myapp-styled-hr {
    border: none;
    width: 30px;
    height: 2px;
    background-color: var(--laranja);
    margin-bottom: 20px;
}

.myapp-team__member_section {
    padding: 40px 40px;
}

.myapp-team__member__text {
    margin: 30px 0;
}

.myapp-team__member__text h3 {
    font-size: 1.5rem;
}

.myapp-team__member__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myapp-team__member__colum {
    margin-bottom: 2rem;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.myapp-team__member__colum img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
}

.myapp-team__member__colum h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.myapp-team__member__colum p {
    font-size: 1em;
    color: #666;
}

@media (min-width: 768px) {
    .myapp-team__member__row {
        flex-direction: row;
        gap: 20px;
        justify-content: flex-end;
    }
}

/* Why us section */
.myapp-why_us_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    margin: 2rem 0;
    padding: 0 2%;
}

.myapp-why_us_colum {
    padding: 20px;
    box-sizing: border-box;
    margin: 50px 0;
}

.myapp-why_us_left {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.myapp-why_us_left img {
    max-width: 80%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.myapp-why_us_right {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.myapp-why_us_right h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.myapp-why_us_right h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.myapp-why_us_right p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.myapp-why_us_right a {
    display: flex;
    justify-content: center;
    background-color: var(--laranja);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    width: 50%;
    border-radius: 8px;
    margin-top: 20px;
}

.myapp-why_us_right a:hover {
    background-color: var(--laranja2);
}

@media (min-width: 768px) {
    .myapp-why_us_section {
        flex-direction: row;
        justify-content: space-around;
    }

    .myapp-why_us_colum {
        flex: 1;
    }

    .myapp-why_us_right h2 {
        font-size: 3vw;
    }

    .myapp-why_us_right {
        margin-left: 20px;
    }

    .myapp-why_us_right a {
        width: auto; 
    }
}

.myapp-styled-hr {
    border: none;
    width: 30px;
    height: 2px;
    background-color: var(--laranja);
    margin-bottom: 20px;
}

.myapp-team__member_section {
    padding: 40px 40px;
}

.myapp-team__member__text {
    margin: 30px 0;
}

.myapp-team__member__text h3 {
    font-size: 1.5rem;
}

.myapp-team__member__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myapp-team__member__column {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.myapp-team__member__column img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
}

.myapp-team__member__column h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.myapp-team__member__column p {
    font-size: 1em;
    color: #666;
}

@media (min-width: 768px) {
    .myapp-team__member__row {
        flex-direction: row;
        gap: 20px;
        justify-content: flex-end;
    }
}

/* Perguntas frequentes */

.myapp-faq-section {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
}

.myapp-faq-column,
.myapp-ask-column {
    width: 100%;
    margin-bottom: 20px;
}

.myapp-faq-column h2 {
    margin-bottom: 30px;
}

.myapp-ask-column p {
    padding-bottom: 10px;
}

.myapp-faq-item {
    margin-bottom: 20px;
}

.myapp-faq-question {
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    color: #333;
    cursor: pointer; 
}

.myapp-faq-answer {
    margin: 5px 0 0;
    color: #555;
    display: none;
}

.myapp-form-group {
    margin-bottom: 15px;
}

.myapp-form-group > label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    
}

.myapp-form-group > input,
.myapp-form-group > textarea {
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid var(--laranja);
    border-radius: 2rem;
    -webkit-transition: border-bottom .6s ease-in-out;
    transition: border-bottom .6s ease-in-out;
}

.myapp-input:focus,
.myapp-textarea:focus {
    outline: none;
    border-bottom: 2px solid var(--laranja);
}

.myapp-button {
    display: flex;
    justify-content: space-around;
    background-color: var(--laranja);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}

.myapp-button:hover {
    border: 1px solid var(--laranja2);
    background-color: var(--preto);
}

@media (min-width: 768px) {
    .myapp-faq-section {
        gap: 20px;
    }
}

.myapp_service_includ-block {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.myapp_service_includ {
    min-width: 90%;
    min-height: 400px;
    max-height: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--b2);
    border-radius: 3rem;
    padding: 30px;
    gap: clamp(10px, 8px, 5px);
}

.myapp_service_includ_title span {
    padding: 8px;
    background: var(--laranja2);
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.myapp_service_includ_title h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.myapp_serive_includ_item {

    padding: 5px;
}

.myapp_serive_includ_item i {
    font-size: 1.5rem;
}

.myapp_serive_includ_item h2 {
    font-size: 1rem;
    opacity: 70%;
}

.myapp_serive_includ_item p {
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width:1394px) {
    .myapp_service_includ {
        flex-wrap: wrap;
    }
}
.form-box {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    border-radius: 15px;
    background-color: var(--b3);
}

/* progress  */

.form-box .progress {
    position: relative;
    padding: 1em;
}

/* === progress steps === */
.progress ul.progress-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.progress ul.progress-steps li{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}

.progress ul.progress-steps li > span {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: var(--font-smaller);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    border-radius: 50%;
    background-color: var(--cinza);
    z-index: 1;
}

.progress ul.progress-steps li.active > span {
    color: white;
    background-color: var(--laranja);
    border: 1px solid var(--laranja2);
    z-index: 1;
}

.progress ul.progress-steps li p span {
    font-size: var(--font-smaller);
    color: #ccc;
    display: none;
}

.progress ul li p {
    position: absolute;
    top: -2em;
    font-size: 12px;
    visibility: hidden;
}

/* Form  */

.form-box form {
    width: 100%;
    padding: 3em 1em;
    background-color: white;
    border-radius: 30px 30px 15px 15px;
}

form > div {
    max-width: 400px;
    margin: 0 auto;
}
form > div p {
    color: var(--cinza);
    margin-bottom: 2em;
}
form > div > div:not(.chekbox) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

form :where(input , select, textarea) {
    height: 40px;
    padding: 0 1em !important;
    border-radius: 7px;
    outline-color:  var(--laranja2) !important;
    border: 1px solid var(--b2) !important;
    background-color: transparent;
}

form label {
    font-size: var(--font-smaller);
    margin-bottom: 0.5em;
    font-weight: 600;
}

form .grouping {
   display: flex; 
}

form .grouping input {
    max-width: 70px;
    text-align: center;
    margin-right: 1em;
}

form .checkbox input {
    height: auto;
}

form > div:not(.btn-group) {
    display: none;
    -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
}

form > div.active {
    display: block;
}

/* .form-two, .form-three { display: none;} */
.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 8em;
}

.btn-group [class*="btn-"] {
    background-color: var(--laranja);
    color: white;
    padding: 1em 2.5em;
    border: 4px solid var(--laranja2);
    border-radius: 30px;
    cursor: pointer;
    -webkit-transition: background-color .3s border-color .3s ease-out;
    transition: background-color .3s border-color .3s ease-out;
}

.btn-group [class*="btn-"]:disabled {
    background-color: var(--cinza);
    border-color: var(--b2);
    cursor: text;
}

.btn-group [class*="btn-"]:hover:not(:disabled) {
    background-color: var(--preto);
    border-color: var(--b2);
}

.btn-group .btn-submit,
.form-four.active ~ .btn-group .btn-next {
    display: none;
}

.form-four.active ~ .btn-group .btn-submit {
    display: block;
}

.form-four.active ~ .btn-group {
    justify-content: space-between;
}


::placeholder {
    color: var(--cinza);
}

@media screen and (min-width:768px) {
    .form-box {
        flex-direction: row;
    }
    .form-box .progress {
        flex: 1 0 35%;
        min-width: 300px;
        padding: 3em;
    }

    .progress ul.progress-steps {
        flex-direction: column;
        gap: 0;
    }
    
    .progress ul.progress-steps li:not(:last-child)::before {
        content: '';
        position: absolute;
        left: 20px;
        top: 30px;
        width: 2px;
        height: 65px;
        background-color: var(--b2);
    }

    .form-box form {
        padding: 3em;
        border-radius: 0 15px 15px 0;
    }

    .progress ul li p {
        position: relative;
        top: auto;
        font-size: inherit;
        visibility: visible;
    }

    .progress ul.progress-steps  li p span {
        display: block;
    }
}

.social-container {
    margin: 20px 0;
}
.social-container a {
   border: 1px solid #DDD;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 0 5px;
   height: 40px;
   width: 40px;
}
